In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("meteorite-landings.csv")
df = df.rename(columns={"recclas": "class", "mass (g)": "mass", "reclat": "lat", "reclong": "long", "GeoLocation": "geolocation"})

# drop all relict meteorites
df = df.loc[df["nametype"] == "Valid"]

# drop all meteorites that were found, not seen fall
df = df.loc[df["fall"] == "Fell"]

# drop all rows with missing values
df = df.dropna()

df["year"] = df["year"].astype(int)

df = df.drop(columns=["id", "nametype", "fall", "geolocation"])

In [5]:
df.head()

       name     recclass      mass  year       lat       long
0    Aachen           L5      21.0  1880  50.77500    6.08333
1    Aarhus           H6     720.0  1951  56.18333   10.23333
2      Abee          EH4  107000.0  1952  54.21667 -113.00000
3  Acapulco  Acapulcoite    1914.0  1976  16.88333  -99.90000
4   Achiras           L6     780.0  1902 -33.16667  -64.95000

In [6]:
df.to_json("cleaned-data.json", orient="records")