In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("meteorite-landings.csv")
df = df.rename(columns={"recclass": "class", "mass (g)": "mass", "reclat": "lat", "reclong": "long", "GeoLocation": "geolocation"})

# drop all relict meteorites
df = df.loc[df["nametype"] == "Valid"]

# drop all meteorites that were found, not seen fall
df = df.loc[df["fall"] == "Fell"]

# drop all rows with missing values
df = df.dropna()

df["year"] = df["year"].astype(int)

# sort by year ascending
df = df.sort_values(by = ["year"])

df = df.drop(columns=["id", "nametype", "fall", "geolocation"])

In [3]:
df.head()

                 name       class      mass  year       lat       long
704            Nogata          L6     472.0   860  33.72500  130.75000
278           Elbogen   Iron, IID  107000.0  1399  50.18333   12.73333
856  Rivolta de Bassi  Stone-uncl     103.3  1490  45.48333    9.51667
283         Ensisheim         LL6  127000.0  1491  47.86667    7.35000
174     Castrovillari  Stone-uncl   15000.0  1583  39.80000   16.20000

In [4]:
df.to_json("cleaned-data.json", orient="records")